<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" 
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.larus.phonegap" 
        version="1.0.0">
    <name>PhoneGap Build</name>
    <description>
        Prova di PhoneGap
    </description>
    <configuration>
        <platforms>
            <platform>ios</platform>
            <platform>android</platform>
            <platform>winphone</platform>
            <platform>webos</platform>
            <platform>symbian</platform>
            <platform>blackberry</platform>
        </platforms>
    </configuration>
    <plugin>
        <groupId>com.github.chrisprice</groupId>
        <artifactId>phonegap-build-maven-plugin</artifactId>
        <version>0.0.7</version> 
        <executions>
            <execution>
                <id>phonegap-build</id>
                <goals>
                    <goal>clean</goal>
                    <goal>build</goal>
                </goals>
                <configuration>
                    <configFile>src/main/resources/config.xml</configFile>
                </configuration>
            </execution>
        </executions>
    </plugin>
</widget>
